<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teoria018_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Teoria018_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @Html.Partial("Sidebar")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderSection("OtherSection", required: true)
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="row">
            <div class="col">@Html.Partial("../Viste/Vista1")</div>
        </div>
        <div class="container">
            <p>asdasdasd</p>
            &copy; 2024 - Teoria018_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
