@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@model HomeIndexViewModel // sto indicando alla view che l'oggetto passatogli come model dalla sua Action è di tipo HomeIndexViewModel
@{
    List<Profile> profili = new List<Profile>();
    profili.Add(new Profile("Pinco", "Panco", 99));
    profili.Add(new Profile("Caio", "Sempronio", 18));
    profili.Add(new Profile("Tizio", "Caio", 60));

    string headerBackgroundColor = "#F00000";

    int MiaFunzione(int n)
    {
        return n + 1;
    }
}

@section PreBody
{
    <div style="background: @headerBackgroundColor; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <h1 style="color: #FFFFFF">IL MIO INDICE</h1>
    </div>
    @MiaFunzione(4)
}

<div class="text-center">
    <div>
        @foreach (var profilo in profili)
        {
            <div class="row">
                <div class="col"><p>@profilo.Name</p></div>
                <div class="col">@profilo.Lastname</div>
                <div class="col">@profilo.Age</div>
            </div>
        }
    </div>
</div>

@{
    var obj = ViewData["Profilo1"];
    var p = (Profile)obj; // Pericoloso!
    <div class="row">
        <div class="col"><h4>L'oggetto dalla ViewData 'Profilo1' è stato castato a Profile:</h4></div>
    </div>
    <div class="row">
        <div class="col">@p.Name</div>
        <div class="col">@p.Lastname</div>
        <div class="col">@p.Age</div>
    </div>

    <br />

    <div class="row">
        <div class="col"><h4>L'oggetto Model è un HomeIndexViewModel:</h4></div>
    </div>
    <div class="row">
        <div class="col"><h5>@Model.Messaggio</h5></div>
    </div>
    <div class="row">
        <div class="col">@Model.Profilo.Name</div>
        <div class="col">@Model.Profilo.Lastname</div>
        <div class="col">@Model.Profilo.Age</div>
    </div>
}

<a href="@Url.Action("ProvaParametri", "Home", new ProvaParametriViewModel() { Nome = "Ciao", Numero = 42 })">VAI A PROVA PARAMETRI</a>
<a asp-route-nome="ciao" asp-route-numero="42" asp-controller="Home" asp-action="ProvaParametri">VAI A PROVA PARAMETRI CON ASP</a>