@using PizzaMvc.Data
@model Pizza

<h1>LA PIZZA SELEZIONATA</h1>
<div class="row">
    <div class="col">@Model.Name</div>
    <div class="col">@Model.Description</div>
    <div class="col">@Model.Price.ToString("F2")</div>
    <div class="col"><a href="@Url.Action("Index", "Pizza")">BACK</a></div>
</div>
<div class="row">
    <div class="col">Categoria: @Model.GetDisplayedCategory()</div>
</div>
@if (Model.Ingredients?.Count > 0)
{
    <div class="row"><div class="col"><h4>Ingredienti</h4></div></div>
    @foreach (var ingrediente in Model.Ingredients)
    {
        <div class="row"><div class="col"><p class="m-0">@ingrediente.Name</p></div></div>
    }
}