@model PostFormModel

<form asp-controller="Post" asp-action="Update" asp-route-id="@Model.Post.Id" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <strong>Titolo:</strong>
        <input asp-for="Post.Title" class="d-block w-100" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Contenuto:</strong>
        <input asp-for="Post.Content" class="d-block w-100" />
        <span asp-validation-for="Post.Content" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Categoria:</strong>
        <select asp-for="Post.CategoryId" rows="10" class="d-block w-100">
            <option value=""></option>
            @foreach (Category category in Model.Categories)
            {
                @if (Model.Post.CategoryId == category.Id)
                {
                    <option value="@category.Id" selected>@category.Title</option>
                }
                else
                {
                    <option value="@category.Id">@category.Title</option>
                }
            }
        </select>
    </div>
    <div class="text-end">
        <input type="submit" class="btn btn-small btn-success" value="Salva">
    </div>
</form>